<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- loads jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- loads bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- loads in bootstrp js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/assets/css/burgerStyles.css" type="text/css" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="https://freeiconshop.com/wp-content/uploads/edd/burger-outline-filled.png" sizes="32x32" />


		<title>Burger Time</title>
	</head>
	<body>
		<div class="jumbotron" id="hero"> 
				<h1 class="tracking-in-expand">EAT-DA-BURGER!</h1>
		</div>
		<div class="container-fluid row" id="content">
			
			{{{body}}}

		</div>
	</body>
</html>
